// Place all the styles related to the cv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section-header {
  border-bottom: 1px solid black;
}

dt.skillset {
  font-size: 14px;
}
dd.skillset {
  padding-bottom: 12px;
}
.skill {
  background: lightgray;
  padding: 5px;
  border-radius: 5px 5px;
  font-weight: 500;
}
.timeframe {
  text-align: right;
}
.work-experience {
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 5px;
}
